In [1]:
# Python SQL toolkit and Object Relational Mapper
import sqlalchemy
from sqlalchemy.ext.automap import automap_base
from sqlalchemy.orm import Session
from sqlalchemy import create_engine, inspect

In [2]:
# Create engine using the `postgresql` database file
engine = create_engine('postgresql://postgres:postgres@localhost:5433/sql-challenge_db')

inspector = inspect(engine)

In [3]:
inspector.get_table_names()

['titles',
 'employees',
 'dept_employees',
 'departments',
 'dept_manager',
 'salaries']

In [4]:
# Declare the Base to reflect the db tables
Base=automap_base()
Base.prepare(engine,reflect=True)
Base.classes.keys()

['titles', 'employees', 'departments', 'salaries']

In [17]:
Titles = Base.classes.titles
Employees = Base.classes.employees
Departments = Base.classes.departments
salaries = Base.classes.salaries

In [18]:
session = Session(engine)

In [19]:
cols = inspector.get_columns("salaries")
cols

[{'name': 'emp_no',
  'type': INTEGER(),
  'nullable': False,
  'default': None,
  'autoincrement': False,
  'comment': None},
 {'name': 'salary',
  'type': INTEGER(),
  'nullable': True,
  'default': None,
  'autoincrement': False,
  'comment': None}]

In [20]:
results = session.query(salaries.emp_no, salaries.salary).order_by(salaries.salary.desc()).all()

In [21]:
for result in results:
    print(result[1],result[2])

IndexError: tuple index out of range